DATABASE_URL=postgresql://neondb_owner:npg_pCoXM1w0zDjL@ep-tiny-morning-adrxcls1-pooler.c-2.us-east-1.aws.neon.tech/NexusCRM?sslmode=require&channel_binding=require
JWT_SECRET=4e126988fae38a1d582e8e33f07db12eb37f9cc466b90c0e546e9d90b263728a95f170b59592e1f4aa1fb6cdc0db4afb5f8659e12050f96b2435e8d7bae772a6
PORT=4000
CORS_ORIGIN=https://your-frontend.onrender.com
